<% layout('layout') %>
<div class="aries-marco mt-5 p-5">
    <div class="pt-3">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center">
                <img src="/img/aries-logo.svg" alt="Logo" class="d-inline-block align-text-top">
                <h2 class="mt-1">Project A.R.I.E.S</h2>
                Analytical Resolution Interface for Engineering Support
            </div>
        </div>
    </div>
    <div class="pt-4" style="text-align: justify">
        Project ARIES is a cutting-edge tool designed to streamline the workflow of Product Support Engineers (PSEs) in handling customer support cases related to graphics products. This tool leverages advanced artificial intelligence to accelerate case analysis, ensuring standardized documentation and optimizing PSE time for critical tasks such as evidence gathering, case reproduction, escalations, and customer engagement. By automating the analysis process, the tool guarantees consistency and precision, enabling PSEs to focus on strategic activities that enhance customer satisfaction and expedite resolution.
    </div>
    <div class="pt-3">
        <h4>Contact:</h4>
        For support, feedback, or inquiries, please reach out to us via email:
        <p style="text-align: center">
            <br>Email: <b>
                <a href="mailto:arturo.medina.mendoza@intel.com">arturo.medina.mendoza@intel.com</a> || <a href="mailto:karen.f.gutierrez.cruz@intel.com">karen.f.gutierrez.cruz@intel.com</a>
            </b>
        </p>
        <p style="text-align: center">
            We are dedicated to empowering you with innovative tools that enhance your efficiency and effectiveness in resolving customer issues. We are here to support you in achieving greater customer satisfaction and operational excellence.
        </p>
    </div>

    <div class="made">
        made with ♥ by<br>[kgutier, r2]
    </div>
</div>

