<% layout('layout') %>

<div class="pt-3">
  <div class="tabs-section">
    <ul class="nav nav-tabs" id="promptTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" data-type="github">Case Analysis</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" data-type="ssu">SSU Analysis</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" data-type="sentiment">Sentiment Analysis</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab" data-type="logEvents">WindowsEvents Analysis</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab5-tab" data-bs-toggle="tab" data-bs-target="#tab5" type="button" role="tab" data-type="dxdiag">DXDialog Analysis</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab6-tab" data-bs-toggle="tab" data-bs-target="#tab6" type="button" role="tab" data-type="test">test</button>
      </li>
    </ul>
    <div class="tab-content aries-tab" id="promptTabsContent" style="flex: 1;">
      <div class="tab-pane fade show active" id="tab1" role="tabpanel">
        <div class="section" style="display: flex; flex-direction: column; flex: 1; height: 100%;">
          <h2><i class="fa-solid fa-edit"></i>Prompt</h2>
          <textarea id="aiPrompt0" placeholder="Enter your AI prompt here..."></textarea>
          <input id="caseNumber0" type="text" placeholder="Case number...">
          <button>Save</button>
          <button onclick="testPrompt(0)">Test</button>
        </div>
      </div>
      <div class="tab-pane fade" id="tab2" role="tabpanel">
        <div class="section" style="display: flex; flex-direction: column; flex: 1; height: 100%;">
          <h2><i class="fa-solid fa-edit"></i> Prompt</h2>
          <textarea id="aiPrompt1" placeholder="Enter your AI prompt here..."></textarea>
          <input type="file" id="SSUfileInput">
          <button onclick="testPrompt(1)">Test</button>
        </div>
      </div>
      <div class="tab-pane fade" id="tab3" role="tabpanel">
        <div class="section" style="display: flex; flex-direction: column; flex: 1; height: 100%;">
          <h2><i class="fa-solid fa-edit"></i>Prompt</h2>
          <textarea id="aiPrompt2" placeholder="Enter your AI prompt here..."></textarea>
          <input id="caseNumber2" type="text" placeholder="Case number...">
          <button>Save</button>
          <button onclick="testPrompt(2)">Test</button>
        </div>
      </div>
      <div class="tab-pane fade" id="tab4" role="tabpanel">
        <div class="section" style="display: flex; flex-direction: column; flex: 1; height: 100%;">
          <h2><i class="fa-solid fa-edit"></i>Prompt</h2>
          <textarea id="aiPrompt3" placeholder="Enter your AI prompt here..."></textarea>
          <input type="file" id="WLfileInput">
          <button onclick="testPrompt(3)">Test</button>
        </div>
      </div>
      <div class="tab-pane fade" id="tab5" role="tabpanel">
        <div class="section" style="display: flex; flex-direction: column; flex: 1; height: 100%;">
          <h2><i class="fa-solid fa-edit"></i>Prompt</h2>
          <textarea id="aiPrompt4" placeholder="Enter your AI prompt here..."></textarea>
          <input type="file" id="DXdfileInput">
          <button onclick="testPrompt(4)">Test</button>
        </div>
      </div><div class="tab-pane fade" id="tab6" role="tabpanel">
        <div class="section" style="display: flex; flex-direction: column; flex: 1; height: 100%;">
          <h2><i class="fa-solid fa-edit"></i>Prompt</h2>
          <textarea id="aiPrompt5" placeholder="Enter your AI prompt here..."></textarea>
          <textarea id="testPrompt" placeholder="Content..." style="min-height: 30px;"></textarea>
          <button onclick="testPrompt(5)">Test</button>
        </div>
      </div>
    </div>
  </div>
  <div class="section aries-marco">
    <h2><i class="fa-solid fa-server"></i> Server Response Log</h2>
    <div id="server-response"></div>
  </div>
</div>
<script>

  const tabList = document.querySelectorAll('button[data-bs-toggle="tab"]');
  tabList.forEach((tab, idx) => {
    tab.addEventListener('shown.bs.tab', async function () {
        const type = this.getAttribute('data-type')
        const response = await fetch('/beta/prompt/'+type);
        data = await response.json();
        document.getElementById('aiPrompt' + idx).value = data[0].data;
    });
  });

  // On page load, fill first tab
  window.onload = async function() {
    const type = document.getElementById('tab1-tab').getAttribute('data-type')
    const response = await fetch('/beta/prompt/'+type);
    data = await response.json();
    document.getElementById('aiPrompt0').value = data[0].data;
  };

  let SSUtext = "none";

  async function testPrompt(idx) { 
   
    let type = "none";
    let caseNumber = "none";
    let data = "none";
    switch(idx){
        case 0: 
            type = "github"; 
            caseNumber = document.getElementById('caseNumber' + idx).value;
            break;
        case 1: 
            type = "SSU"; 
            data = await parseSSU('SSUfileInput');
            break;
        case 2:
            type = "Sentiment"; 
            caseNumber = document.getElementById('caseNumber' + idx).value;
            break;
        case 3:
            type = "WindowsLogs"; 
            data = await parseSSU('WLfileInput');
            break;
        case 4:
            type = "DxDiag"; 
            data = await parseSSU('DXdfileInput');
            break;
        case 5:
            type = "test"; 
            data = document.getElementById('testPrompt').value;
            break;
    }
    
    const response = await fetch('/beta/call/', {
        method: 'POST',
        headers: {
                "Content-Type": "application/json"
                },
        body: JSON.stringify({
            "prompt": document.getElementById('aiPrompt' + idx).value,
            "caseNumber" : caseNumber,
            "type" : type,
            "data" : data
        })
      });
    res = await response.json();
    logServerResponse(res);
  }

  function logServerResponse(json) {
    const container = document.getElementById('server-response');
    const item = document.createElement('div');
    item.className = 'json-log-item';
    item.innerHTML = `<pre>${JSON.stringify(json, null, 2)}</pre>`;
    container.prepend(item);
  }

  function parseSSU(source) {
    return new Promise((resolve, reject) => {
        const fileInput = document.getElementById(source);
        const file = fileInput.files[0];
        if (!file) {
            alert('Please select a text file first.');
            reject('No file selected');
            return;
        }
        const reader = new FileReader();
        reader.onload = function(event) {
            resolve(event.target.result);
        };
        reader.onerror = reject;
        reader.readAsText(file);
    });
  }
    


</script>

