<% layout('layout') %>
<div class="row align-items-center pt-3 aries-marco">
    <div id="loading"></div>
    <div id="main" class="url-input">
        HSDES cases assigned or submitted by you.  
        <table  class="aries-table" >
            <thead>
            <tr>
                <th>submitted_date</th>
                <th>title</th>
                <th>status: reason</th>
                <th>case</th>
                <th>age</th>
            </tr>
            </thead>
            <tbody id="tbody">
          
            </tbody>
        </table>
        <div id="status-box"></div>
  </div>
</div>
<script>

    let hsds;
    let idsid = "<%= user.idsid%>"

    document.addEventListener('DOMContentLoaded', async () => { 
        await loadHSDs();
        if(hsds.length === 0) {
            setTimeout(function() {
                window.location.href = '/userinfo';
            }, 5000);
        }
    });

    async function loadHSDs() {
        showLoading(true);
        try{
            const response = await fetch('/hsd/fetch/all');
            hsds = await response.json();  
            renderTableBodySafe(hsds)
            document.getElementById('status-box').innerHTML = renderProfileStatus(idsid, hsds);
        } catch (e) {
            console.error('Failed to fetch open cases', e);
        } finally {
            showLoading(false);
        }
    }

    function showLoading(isLoading) {
        document.getElementById('loading').style.display = isLoading ? 'block' : 'none';
        document.getElementById('main').style.display = isLoading ? 'none' : 'block';
    }

    function renderProfileStatus(user, data) {
        if (!idsid || idsid === "") {
            return `<div>
            IDSID is currently empty.<br>
            Please fill it on the user profile page <a href="/userinfo">here</a>.<br>
            Redirecting to the profile page in 5 seconds..
            </div>`;
        }
        if (idsid !== "" && data.length === 0) {
            return `<div>
            No HSD assigned or submitted to <strong>${user.idsid}</strong>.<br>
            Please review your IDSID in the profile page <a href="/userinfo">here</a><br>
            Redirecting to the profile page in 5 seconds..
            </div>`;
        }
        return "";
    }
    function renderTableBodySafe(data) {
        data.forEach(row => {
            const tr = document.createElement('tr');

            [row.submitted_date, row.title, row.status, row.github_num, row.age].forEach((cell, i) => {
            const td = document.createElement('td');
            if (i === 1) {
                const a = document.createElement('a');
                a.href = `https://hsdes.intel.com/resource/${row.id}`;
                a.target = "_blank";
                a.rel = "noopener noreferrer";
                a.textContent = row.title;
                td.appendChild(a);
            }
            else if (i === 2) {
                td.textContent = row.status + ": "+ row.reason
            }
            else if (i === 3) {
                const a = document.createElement('a');
                a.href = `/github/${row.github_num}`;
                a.textContent = row.github_num;
                td.appendChild(a);
            } else {
                td.textContent = cell;
            }
            tr.appendChild(td);
            });

            document.getElementById('tbody').appendChild(tr);
        });
    }

</script>
