<% layout('layout') %>
<h1 class="mb-4">Session Ended</h1>
<p>Your session has expired. Please log in again.</p>
<button class="btn intel-btn-general" onclick="window.location.href='/login'">Login</button>